html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}
nav{
  left:50px;
  margin-top: -40px;
}
nav a {
  padding: 3px 16px;
  vertical-align: bottom;
}

main {
  height: 100%;
}
