<div class="connexion-card">
  <div class="col s12 m6 card-container">

    <div class="connection-title">
      <h1 class="header">Sign In</h1>
    </div>
    <div class="card">
      <div class="rounded-image-container">
        <div class="rounded-image">
          <img class="circle" src="../../assets/img/avatar.png">
        </div>
      </div>
      <div class="card-content">
        <form materialize>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="text" class="validate">
              <label for="email">E-mail</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
        </form>
      </div>
      <div class="card-action">
        <a href="#">Sign in</a>
      </div>
    </div>
  </div>
</div>
