<!--
<div id="left">

  <ul class="side-nav fixed" style="background: #B3E5FC" [ngClass]="{'slide-in': isCollapse }">
    <div>
      <status></status>
    </div>
    <div class="workbench" id="group">
      <h5>Group</h5>
      <md-list>
        <md-list-item> Todo </md-list-item>
      &lt;!&ndash;<md-list-item> Engineer </md-list-item>&ndash;&gt;
      &lt;!&ndash;<md-list-item> Code activities </md-list-item>&ndash;&gt;
      </md-list>
    </div>
    <div class="workbench" id="channel">
      <h5>Channel</h5>
      <md-list>
      <md-list-item> Todo </md-list-item>
      &lt;!&ndash;<md-list-item> Engineer </md-list-item>&ndash;&gt;
      &lt;!&ndash;<md-list-item> Code activities </md-list-item>&ndash;&gt;
      </md-list>
    </div>
    <div class="workbench" id="contact">
      <div class="row">
        <h5 class="col s8">Contact</h5>
        <div class="col s4">
          <a class="waves-effect waves-light btn modal-trigger" (click)="openContactPopin()">
            <i class="fa fa-address-book"  aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <md-list *ngFor="let contact of contacts">
        <md-list-item>
          <img md-list-avatar src="{{contact.profilePicture}}" alt="{{contact.username}}">
          <p md-line>{{contact.firstName}} {{contact.lastName}} </p>
          <p md-line>{{contact.description}}</p>
        </md-list-item>
      </md-list>
    </div>
    &lt;!&ndash;<contact (modalActions1) = "onModalActionChanged($event)"></contact>&ndash;&gt;
  </ul>
  <i class="material-icons burger-menu" [ngClass]="{'slide-out': !isCollapse }" (click)="onToggle()">menu</i>
</div>
<div id="right">
  &lt;!&ndash; Modal Structure &ndash;&gt;
  <div id="modal" class="modal" [ngClass]="{'small-modal': isCollapse}" style="width: 100%; height: 100%" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions1">
    <div class="modal-content">
      <div class="chips chips-placeholder" materialize="material_chip"  [materializeParams]="[chipsPlaceholder]"  (chip.add)="add($event.detail)" (chip.delete)="delete($event.detail)" (chip.select)="select($event.detail)"></div>
      &lt;!&ndash;<div class="input-field col s12">&ndash;&gt;
      &lt;!&ndash;<input type="text" id="autoComplete" materialize="autocomplete" [materializeParams]="[chipsAutoComplete]">&ndash;&gt;
      &lt;!&ndash;</div>&ndash;&gt;
      <md-icon>home</md-icon>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="addContact()">Agree</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeContactopIn()">Close</a>
    </div>
  </div>
</div>



-->

<main class="row">
  <section class="col qwirk_sidebar" [ngClass]="{'open': !isCollapse }">
    <div class="statusSection valign-wrapper">
      <status [size]="sizeStatus"></status>
      <div class="userInfos">
        <div class="userAllNames">
          <div>
            <h3>{{user.firstName}} {{user.lastName}}</h3>
          </div>
          <div>
            <h5 class="userIdentifier"><div class="icon-container valign-wrapper"><i class="material-icons red-text text-lighten-3">person_outline</i></div> {{user.username}}</h5>
            <h5 class="userIdentifier"><div class="icon-container valign-wrapper"><i class="material-icons red-text text-lighten-3">mail_outline</i></div> {{user.email}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="qwirk_user_relations">
      <ul class="collapsible popout" data-collapsible="accordion"  materialize="collapsible">
        <li class="circle flat-text">
          <div class="collapsible-header circle rounded teal teal-text text-lighten-3"><span><div class="icon-container"><i class="material-icons">contacts</i></div>Contact</span></div>
          <div class="collapsible-body">

            <ul class="collection">
              <li *ngFor="let contact of contacts" class="collection-item avatar" (click)="bindCheckMessages(contact)">
                <img src="http://localhost:8000/user/{{contact.userObject.username}}" alt="" class="circle">
                <div class="secondary-part" [ngClass]="{'hiddendiv': isCollapse}"><span class="title">{{contact.contactObject.nickname}}</span>
                  <p>{{contact.userObject.firstName}} {{contact.userObject.lastName}}<br>
                    {{contact.userObject.email}}
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></div>
              </li>
            </ul>
          </div>
        </li>
        <li class="circle">
          <div class="collapsible-header circle rounded red red-text text-lighten-3"><span><div class="icon-container"><i class="material-icons">people_outline</i></div>Groups</span></div>
          <div class="collapsible-body">

            <ul class="collection">
              <li class="collection-item avatar">
                <img src="http://bit.ly/2nJ25ln" alt="" class="circle">
                <div class="secondary-part hiddendiv"><span class="title">Title</span>
                  <p>First Line <br>
                    Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></div>
              </li>
              <li class="collection-item avatar">
                <img src="http://bit.ly/2n4OzaM" alt="" class="circle">
                <div class="secondary-part hiddendiv"><span class="title">Title</span>
                  <p>First Line <br>
                    Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></div>
              </li>
              <li class="collection-item avatar">
                <img src="http://bit.ly/2onErh0" alt="" class="circle">
                <div class="hiddendiv secondary-part"><span class="title">Title</span>
                  <p>First Line <br>
                    Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></div>
              </li>
            </ul>
          </div>
        </li>
        <li class="circle">
          <div class="collapsible-header circle rounded orange orange-text text-lighten-3"><span><div class="icon-container"><i class="material-icons">people</i></div>Channels</span></div>
          <div class="collapsible-body">


            <ul class="collection">
              <li class="collection-item avatar">
                <img src="http://bit.ly/2nJ25ln" alt="" class="circle">
                <div class="secondary-part hiddendiv"><span class="title">Title</span>
                  <p>First Line <br>
                    Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></div>
              </li>
              <li class="collection-item avatar">
                <img src="http://bit.ly/2n4OzaM" alt="" class="circle">
                <div class="secondary-part hiddendiv"><span class="title">Title</span>
                  <p>First Line <br>
                    Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></div>
              </li>
              <li class="collection-item avatar">
                <img src="http://bit.ly/2onErh0" alt="" class="circle">
                <div class="hiddendiv secondary-part"><span class="title">Title</span>
                  <p>First Line <br>
                    Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <button class="btn btn-flat btn-small qwirk_sidebar_expand teal lighten-3" (click)="expand_sidebar()"><i class="material-icons">chevron_right</i></button>
    <logout></logout>
  </section>
  <section class="col qwirk_content" [ngClass]="{'side_open': !isCollapse }">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Qwirk</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#!"><i class="material-icons" (click)="onCallStart()">videocam</i></a></li>
          <li><a href="#!"><i class="material-icons" (click)="onCallStart()">phone</i></a></li>
          <li><a href="#!"><i class="material-icons">search</i></a></li>
          <li><a href="#!"><i class="material-icons">view_module</i></a></li>
          <li><a href="#!"><i class="material-icons">refresh</i></a></li>
          <li><a href="#!"><i class="material-icons">more_vert</i></a></li>
        </ul>
      </div>
    </nav>
      <div class="message-content" *ngIf="!isVideo">
          <div #messageHistory class="message-history">
              <!--<div class="sender">
                <h6 class="right-align teal-text text-darken-2">{{user.firstName}} {{user.lastName}}</h6>
                <div class="message valign-wrapper teal lighten-5 teal-text text-lighten-2">
                  <p>{{mes}}</p>
                  <avatar data-size="very-tiny"></avatar>
                </div>
              </div>
              <div class="receiver" *ngFor="let recMes of receivedMessages">
                <h6 class="red-text text-darken-2">{{receiver.firstName}} {{receiver.lastName}}</h6>
                <div class="message valign-wrapper red lighten-5 red-text text-lighten-2">
                  <p>{{recMes}}</p>
                  <avatar data-size="very-tiny"></avatar>
                </div>
              </div>-->
              <message [user]="user" [contact]="contact" *ngFor="let mes of messages" [message]="mes"></message>

              <div class="isTyping">
                  <p>{{typings}}</p>
              </div>
          </div>
          <div class="message-discussion valign-wrapper">
              <form #sendMessageForm="ngForm">
                  <div class="input-field">
                      <textarea [(ngModel)]="message"  id="editable_message" name="message_sender" class="validate materialize-textarea wdt-emoji-bundle-enabled wdt-emoji-open-on-colon" (input)="notifyContactWriting()" (blur)="blurTypings()"></textarea>
                      <label for="editable_message">Edit your message here</label>
                  </div><!--
        <div class="wdt-emoji-popup">
          <a href="#" class="wdt-emoji-popup-mobile-closer"> × </a>
          <div class="wdt-emoji-menu-content">
            <div id="wdt-emoji-menu-header">
              <a class="wdt-emoji-tab active" data-group-name="Recent"></a>
              <a class="wdt-emoji-tab" data-group-name="People"></a>
              <a class="wdt-emoji-tab" data-group-name="Nature"></a>
              <a class="wdt-emoji-tab" data-group-name="Foods"></a>
              <a class="wdt-emoji-tab" data-group-name="Activity"></a>
              <a class="wdt-emoji-tab" data-group-name="Places"></a>
              <a class="wdt-emoji-tab" data-group-name="Objects"></a>
              <a class="wdt-emoji-tab" data-group-name="Symbols"></a>
              <a class="wdt-emoji-tab" data-group-name="Flags"></a>
              <a class="wdt-emoji-tab" data-group-name="Custom"></a>
            </div>
            <div class="wdt-emoji-scroll-wrapper">
              <div id="wdt-emoji-menu-items">
                <input id="wdt-emoji-search" type="text" placeholder="Search">
                <h3 id="wdt-emoji-search-result-title">Search Results</h3>
                <div class="wdt-emoji-sections"></div>
                <div id="wdt-emoji-no-result">No emoji found</div>
              </div>
            </div>
            <div id="wdt-emoji-footer">
              <div id="wdt-emoji-preview">
                <span id="wdt-emoji-preview-img"></span>
                <div id="wdt-emoji-preview-text">
                  <span id="wdt-emoji-preview-name"></span><br>
                  <span id="wdt-emoji-preview-aliases"></span>
                </div>
              </div>
              <div id="wdt-emoji-preview-bundle">
                <span>WDT Emoji Bundle</span>
              </div>
            </div>
          </div>
        </div>-->
                  <button class="btn btn-flat circle btn-floating send_message_but teal lighten-3" (click)="sendMessage()"><i class="material-icons">send</i></button>
              </form>
          </div>
      </div>
      <div class="video-content" *ngIf="isVideo">
        <qvideo [contact] = "contact" [peer]="peer" [media]="media"></qvideo>
      </div>
  </section>
</main>
