
<div class="sender">
  <h6 class="right-align teal-text text-darken-2">{{user.firstName}} {{user.lastName}}</h6>
  <div class="message valign-wrapper lighten-5 teal-text text-lighten-2" [ngClass]="{gray: (message.messageStatus.status === 'pending'),
                                                                                         teal: (message.messageStatus.status === 'sent'),
                                                                                         orange: (message.messageStatus.status === 'delivered'),
                                                                                         blue: (message.messageStatus.status === 'seen')}">
    <p>{{message.content}}</p>
    <avatar data-size="very-tiny"></avatar>
  </div>
</div>
