<div class="connexion-card">
  <div class="col s12 m6 card-container">

    <div class="connection-title">
      <h1 class="header">Sign Up</h1>
    </div>

    <form id="signUpForm" materialize #signupForm="ngForm" (ngSubmit)="register(signupForm)">
      <div class="card">
        <avatar-overlay></avatar-overlay>
        <div class="card-content">
          <div class="row">
            <div class="input-field col s12">
              <input id="username" type="text" name="username" class="active validate" ngModel required="" aria-required="true">
              <label for="username" data-error="username is not valid">Username</label>
            </div>
            <div class="input-field col s12">
              <input id="firstname" type="text" name="firstName" class="validate" ngModel required="" aria-required="true">
              <label for="firstname" data-error="firstname is not valid">First Name</label>
            </div>
            <div class="input-field col s12">
              <input id="lastname" type="text" name="lastName" class="validate" ngModel required="" aria-required="true">
              <label for="lastname" data-error="lastname is not valid">Last Name</label>
            </div>
            <div class="input-field col s12">
              <input id="email" type="text" name="email" class="validate" ngModel required="" aria-required="true">
              <label for="email" data-error="E-mail not valid">E-mail</label>
            </div>
            <div class="input-field col s12">
              <input materialize="characterCounter" length="4" id="password" type="password" name="password" class="validate" ngModel required="" aria-required="true">
              <label for="password" data-error="Password too weak ">Password</label>
            </div>
            <div class="input-field col s12">
              <input materialize="characterCounter" length="4" id="confirm-password" type="password" name="confirm-password" class="validate" ngModel required="" aria-required="true">
              <label for="confirm-password" data-error="Confirm password is not valid ">Confirm-Password</label>
            </div>
          </div>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s12 m6">
              <button class="btn waves-effect waves-light" type="submit" [disabled]="!signupForm.form.valid" name="action">Sign Up
                <i class="material-icons right">input</i>
              </button>
            </div>
            <div class="col s12 m6 right-align">
              <a [routerLink]="['/connection']"class="signIn">SIGN IN</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
